<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header::header"></span>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="common/top::top"></div>
    <div th:replace="common/left::left"></div>
    <div id="layui-body" class="layui-body" style="margin: 10px;">
        <iframe frameborder=no scrolling='auto' style='width:100%;height:100%'
                name="right" src='/route/userManage'>
        </iframe>
    </div>

    <span th:replace="common/footer::footer"></span>
</div>
<script type="text/javascript" th:inline="none" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery-3.0.0.js}"></script>
<script type="text/javascript">
    layui.use(['table','layer','form'], function(){
        // var $ = layui.jquery;
        // var table = layui.table;
        var layer=layui.layer;
        // var form=layui.form;
   });
    </script>
</body>
</html>