<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<span th:replace="common/header::header"></span>
<body style="margin: 10px">
<form class="layui-form" id="addRoleForm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input" placeholder="角色名"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">角色描述</label>
            <div class="layui-input-inline">
                <input type="text" name="description" autocomplete="off"
                       class="layui-input" placeholder="角色描述"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" name="available" lay-skin="switch"  value="1"
                   lay-text="有效|无效">
        </div>
    </div>

</form>
<script type="text/javascript" th:inline="none" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['jquery','laydate','form','layer', 'element'], function () {
        //弹层
        var layer = layui.layer,
            $ = layui.jquery,
            form=layui.form,
            element = layui.element,
            laydate = layui.laydate
        //日期
        laydate.render({
            elem: '#birthday'
        });

    });
</script>
</body>
</html>