<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<span th:replace="common/header::header"></span>
<body style="margin: 10px">
<form class="layui-form" id="editUser">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">角色户</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off"
                       class="layui-input" th:value="${roleInfo.getName()}" disabled/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">角色描述</label>
            <div class="layui-input-inline">
                <input type="text" name="description" autocomplete="off"
                       class="layui-input" th:value="${roleInfo.getDescription()}"/>
            </div>
        </div>
    </div>

    <div class="layui-form-item" pane="">
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-block">
            <input type="checkbox" th:checked="${roleInfo.getAvailable() == 1}" value="1"
                   name="available" lay-skin="switch" lay-text="有效|无效">
        </div>
    </div>


    <input type="hidden" name="id" th:value="${roleInfo.getId()}"/>

</form>
<script type="text/javascript" th:inline="none" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript">
    layui.use(['jquery', 'laydate', 'form', 'layer', 'element'], function () {
        //弹层
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form,
            element = layui.element;
    })
</script>

</body>
</html>