<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:include="common/header::header"></span>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
</head>
<body>
<button class="layui-btn" id="addRole">
    <label><i class="fa fa-plus-circle"></i></label> 新增
</button>
<button class="layui-btn layui-btn-normal" id="editRole">
    <label><i class="fa fa-edit"></i></label> 编辑
</button>
<button class="layui-btn layui-btn-danger" id="delRole">
    <label><i class="fa fa-trash-o"></i></label> 删除
</button>
<table id="roleManage" style='overflow:scroll;overflow-x:hidden'></table>

<!--<form class="layui-form" id="editUser" th:disabled="none">-->
    <!--<div class="layui-form-item">-->
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">角色户</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="name" autocomplete="off"-->
                       <!--class="layui-input" th:value="${roleInfo.getName()}" disabled/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">角色描述</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="description" autocomplete="off"-->
                       <!--class="layui-input" th:value="${roleInfo.getDescription()}"/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="layui-form-item" pane="">-->
        <!--<label class="layui-form-label">是否有效</label>-->
        <!--<div class="layui-input-block">-->
            <!--<input type="checkbox" th:checked="${roleInfo.getAvailable() == 1}" name="available" lay-skin="switch" lay-text="有效|无效">-->
        <!--</div>-->
    <!--</div>-->


    <!--<input type="hidden" name="id" th:value="${roleInfo.getId()}"/>-->

    <!--<div class="layui-form-item">-->
        <!--<div class="layui-input-block">-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="saveRole">保存</button>-->
            <!--<button type="reset" class="layui-btn layui-btn-primary">清空</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->
<div id="insertRole" style="display:none" >
<form class="layui-form" id="addRoleForm" >
    <div class="layui-form-item" style="margin: 10px" >
        <div class="layui-inline">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input"
                       placeholder="角色名"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">角色描述</label>
            <div class="layui-input-inline">
                <input type="text" name="description" autocomplete="off"
                       class="layui-input" placeholder="角色描述"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item" pane="">
        <label class="layui-form-label">是否有效</label>
        <div class="layui-input-block">
            <input type="checkbox" checked="" name="available" value="1" lay-skin="switch" lay-text="有效|无效" />
        </div>
    </div>

    <!--<div class="layui-form-item">-->
        <!--<div class="layui-input-block">-->
            <!--<button class="layui-btn" lay-submit="" lay-filter="addRole">保存</button>-->
            <!--<button type="reset" class="layui-btn layui-btn-primary">清空</button>-->
        <!--</div>-->
    <!--</div>-->
</form>
    <!--<script>-->
        <!--layui.use(['jquery','table','layer','form','element'], function(){-->
            <!--var $ = layui.jquery;-->
            <!--var table = layui.table;-->
            <!--var layer=layui.layer;-->
            <!--var form=layui.form;-->
            <!--var element=layui.element;-->
        <!--})-->
    <!--</script>-->
</div>
<script type="text/javascript" th:src="@{/utils/dateUtil.js}"></script>
<script type="text/javascript">
    layui.use(['jquery', 'laypage', 'table','element'], function () {
        //弹层
        var
            table = layui.table,
            $ = layui.jquery,
            element = layui.element;
        $.ajax({
            url: "/role/getRoleList",
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                table.render({
                    elem: "#roleManage",
                    id: 'roleManage',
                    height: 'full',
                    cellMinWidth: 80,
                    data: res.data.roleList,
                    page: true,
                    limit: 10,
                    cols: [
                        [
                            {checkbox: true},
                            {field: 'id', title: '<strong>ID</strong>',align:'center',  sort: true},
                            {field: 'name', title: '<strong>角色名</strong>', align:'center'},
                            {field: 'description', title: '<strong>角色描述</strong>',align:'center'},
                            {field: 'available', title: '<strong>是否有效</strong>',align:'center',templet:"#available"},
                            {field: 'createTime', title: '<strong>创建时间</strong>',align:'center',templet:'<div>{{Format(d.createTime,"yyyy-MM-dd hh:mm:ss")}}</div>'},
                            {field: 'updateTime', title: '<strong>修改时间</strong>',align:'center',templet:'<div>{{Format(d.updateTime,"yyyy-MM-dd hh:mm:ss")}}</div>'},
                        ]
                    ]
                });
            }
        });
        //          新增角色
        $("#addRole").click(function () {
          var index = parent.layer.open({
                type: 1,
                title: '添加角色',
                skin: 'layui-layer-molv', //加上边框
                area: ['450px', '260px'], //宽高
                content:$("#insertRole").html(),
                btn:['保存'],
                btn1:function () {

                    var name =  parent.$("input[name='name']").val();
                    // var description =  parent.$("input[name='description']").val();
                    // var available =  parent.$("input[name='available']").val();

                    if (!name){
                        parent.layer.msg("请填写角色名！",{icon:5,anim:6});
                    }

                    console.log(parent.$("#addRoleForm").serialize());
                    $.ajax({
                        url: "/role/saveOrUpdate",
                        data: parent.$("#addRoleForm").serialize(),
                        method: "post",
                        dataType: 'json',
                        success: function (res) {
                            if (res.code === 200) {
                                parent.layer.open({
                                    icon:1,
                                    content: res.msg,
                                    yes: function (index) {
                                        location.reload();
                                        parent.layer.close(index);
                                    }
                                });
                                parent.layer.close(index);
                            } else {
                                parent.layer.msg(res.msg,{icon: 5,anim: 6});
                            }
                        },
                        error: function (msg) {
                            parent.layer.msg("角色添加失败，请联系管理员",{icon: 5,anim: 6})
                        }
                    })
                }

            })
        });
//            编辑角色
        $("#editRole").click(function () {
            var checkStatus = table.checkStatus('roleManage');
            if (checkStatus.data.length === 0) {
                parent.layer.msg("请选择一条数据进行编辑！",{icon:7,anim:6});
            } else if (checkStatus.data.length > 1) {
                parent.layer.msg("只能选择一条数据进行编辑！",{icon:7,anim:6});
            } else {
                // layer.open({
                //     type: 2,
                //     title: '基本资料',
                //     skin: 'layui-layer-molv', //加上边框
                //     area: ['720px', '500px'], //宽高
                //     content: ['/role/roleInfo?id='+ checkStatus.data[0].id, 'no']//no表示不显示滚动条
                // })
            }
        });
//            删除角色
        $("#delRole").click(function () {
            var checkStatus = table.checkStatus('roleManage');
            if (checkStatus.data.length === 0) {
                parent.layer.msg("请选择要删除的数据！",{icon:7,anim:6});
            } else {
                parent.layer.confirm("你确定要删除选中的数据？", {icon: 3, title: "提示"}, function
                    (index) {
                    var list = [];
                    for (var i in checkStatus.data) {
                        var id = checkStatus.data[i].id;
                        list.push(id);
                    }
                    var ids = list.join(",");
                    $.post("/role/delRoleById", {ids: ids}, function (res) {
                        if (res.code === 200) {
                            parent.layer.open({
                                icon:1,
                                content:res.msg,
                                yes:function (index) {
                                    // layer.close(index);
                                    parent.location.reload();
                                }
                            })
                        } else {
                            parent.layer.close(index);
                            layer.msg("删除失败，请联系管理员",{icon:5,anim:6});
                        }
                    })
                })
            }
        })
    });
</script>
<script type="text/html" id="available">
    {{#  if(d.available == 1){ }}
    <span class="layui-table-text">有效</span>
    {{#  } else { }}
    <span class="layui-table-text">无效</span>
    {{#  } }}
</script>
</body>
</html>